@import "tailwindcss";
/* @config "../../../tailwind.config.js"; */

:root {
  --background: #020e37;
  --foreground: #333;
}

/* input系 */
.label-style {
  @apply text-base font-semibold tracking-wide;
}
.input-style {
  @apply w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-indigo-500 focus:outline-none text-sm tracking-wider;
}
.validation {
  @apply text-red-400 text-sm mb-4;
}

@layer utilities {
  .bg-custom-image {
    @apply bg-[url('/top-img/background.png')] bg-cover bg-center;
  }
  /* ログイン後ｈ2 */
  .title-after-login {
    @apply text-white text-2xl py-[0.8rem] pl-[1rem] bg-gray-700;
  }

  /* たてscrollbar */
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 display: none; */
    @apply hidden;
  }

  /* loading */
  .animate-circle {
    animation: circle 0.5s alternate infinite ease;
  }
  .animate-shadow {
    animation: shadow 0.5s alternate infinite ease;
  }
  @keyframes circle {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0%;
    }
  }
  @keyframes shadow {
    0% {
      transform: scaleX(1.5);
    }
    40% {
      transform: scaleX(1);
      opacity: 0.7;
    }
    100% {
      transform: scaleX(0.2);
      opacity: 0.4;
    }
  }

  /* jyankenAnimation */
  .animate-blink {
    animation: blink 3.6s both infinite steps(1);
  }
  @keyframes blink {
    0%,
    100% {
      background-color: transparent;
    }
    50% {
      background-color: #213d60;
    }
    /* // blue-400 */
  }

  .btn-blink-1 {
    animation-delay: 0s;
  }
  .btn-blink-2 {
    animation-delay: 0.6s;
  }
  .btn-blink-3 {
    animation-delay: 1.2s;
  }
}

/* ////////////////////////////////////// */
.mask-line {
  @apply fill-none stroke-[white] stroke-[240] animate-[draw_5s_forwards_ease-out];
  /* マスク用の色を白に */
  stroke-linecap: round;
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
svg {
  @apply w-full h-auto;
}
